<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Application process - SQL part2</title>
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
  <nav>
  <ul>
    <a href="/mentors"><li>Mentors</li></a>
    <a href="/all-school"><li>All school</li></a>
    <a href="/mentors-by-country"><li>Mentors by country</li></a>
    <a href="/contacts"><li>Contacts</li></a>
    <a href="/applicants"><li>Applicants</li></a>
    <a href="/applicants-and-mentors"><li>Applicants and mentors</li></a>
  </ul>
  </nav>
</body>
</html>